.form-check.form-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
    padding: 10px;
}

.form-check-input {
    transform-origin: 0 50%;
    transform: scale(2);
    margin-top: 15px;
    margin-bottom: 20px;
}